.dropdown {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 10%;
    background-color: #5f6b80;
}
.dropdown ul {
    list-style: none;
    float: left;
}

.dropdown li {
    display: inline-block;
    float: left;
    border-bottom: solid #5bdd55;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 0;
}