.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5bdd55;
}

.navbar .items {
    list-style: none;
}

.navbar .items li {
    display: inline;
    padding-right: 15%;
}

.navbar .items .user {

}